.dog {
  padding-bottom: 2rem;
}

.dog .card-img-top {
  width: 100%;
  height: 40vw;
  object-fit: cover;
}

.single img {
  height: 70vmin;
  object-fit: cover;
}

.single {
  width: 80%;
  margin: 0 auto;
}

#app {
  height: 100vmin;
  padding-top: 4rem;
}
